---
import Layout from "../layouts/Layout.astro";
---

<Layout title="czerwiukk">
  <main class="mx-auto max-w-xl space-y-2 p-4">
    <h1
      class="mx-auto w-fit bg-yellow-400 text-3xl font-semibold dark:bg-yellow-500"
    >
      czerwiukk
    </h1>

    <p class="w-fit bg-green-400 text-lg dark:bg-green-500">
      Hi! Somehow you found my page. That's nice.<br />
      You're actually the first person to see it.<br />
    </p>
  </main>
</Layout>
