---
import Header from "../components/Header.astro";
import WorkExperience from "../components/WorkExperience.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="czerwiukk">
  <main class="mx-auto max-w-2xl space-y-8 p-8 text-ctp-subtext0">
    <Header />

    <WorkExperience />
  </main>
</Layout>
