<section class="space-y-4">
  <h2 class="text-2xl text-ctp-text">Work experience</h2>

  <ul class="space-y-4 [&>*:nth-child(even)]:text-right">
    <li>
      <h3 class="text-lg text-ctp-mauve">Software Mansion</h3>
      <p class="text-ctp-text">Full-stack web developer</p>
      <p class="text-ctp-subtext0">October 2023 - present</p>
    </li>

    <li>
      <h3 class="text-lg text-ctp-sapphire">Dobry Gabinet</h3>
      <p class="text-ctp-text">Full-stack web developer</p>
      <p class="text-ctp-subtext0">September 2021 - December 2023</p>
    </li>

    <li>
      <h3 class="text-lg text-ctp-yellow">Silevis Software</h3>
      <p class="text-ctp-text">Full-stack web developer</p>
      <p class="text-ctp-subtext0">February 2019 - October 2023</p>
    </li>

    <li>
      <h3 class="text-lg text-ctp-red">Linacti Software</h3>
      <p class="text-ctp-text">Web development internship</p>
      <p class="text-ctp-subtext0">February - November 2018</p>
    </li>
  </ul>
</section>
