<section class="space-y-4">
  <h2 class="text-xl font-medium text-fg1">work experience</h2>

  <ul class="space-y-4 [&>*:nth-child(even)]:text-right">
    <li>
      <h3 class="text-lg text-purple">software mansion</h3>
      <p class="text-fg3">full-stack web developer</p>
      <p class="text-fg4">october 2023 - present</p>
    </li>

    <li>
      <h3 class="text-lg text-blue">dobry gabinet</h3>
      <p class="text-fg3">full-stack web developer</p>
      <p class="text-fg4">september 2021 - december 2023</p>
    </li>

    <li>
      <h3 class="text-lg text-yellow">silevis software</h3>
      <p class="text-fg3">full-stack web developer</p>
      <p class="text-fg4">february 2019 - october 2023</p>
    </li>

    <li>
      <h3 class="text-lg text-red">linacti software</h3>
      <p class="text-fg3">web development internship</p>
      <p class="text-fg4">february - november 2018</p>
    </li>

    <li>
      <h3 class="text-lg text-aqua">drukarnia im. adama półtawskiego</h3>
      <p class="text-fg3">blue collar worker</p>
      <p class="text-fg4">june 2017</p>
    </li>
  </ul>
</section>
